h1 {
  font-size: 25px;
  font-style: inherit;
  padding: 5px;
}

header {
  text-align: center;
  background-color: lightgrey;
  color: black;
  padding: 10px;
  border-bottom: 3px solid black;
  font-size: 30px;
}

p {
  font-style: normal;
}

Table {
    font-family: arial, sans-serif;
    width: 50%;
    background-color: lightgrey;
}
  
td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
    font-size: 12px;
}
